:root {
  --header-color: rgba(73, 70, 70, 0.8);
  --title-color: white;
  --robot-color: #1e2020;
  --writing-color: rgb(136, 133, 133);
  --robot-border: rgba(67, 68, 68, 0.725);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  background-image: url('bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
.opacity-50 {
  opacity: 0.5;
}
.margin-right-1 {
  margin-right: 0.2rem;
}
.margin-bottom-1 {
  margin-bottom: 0.5rem;
}

header {
  background-color: var(--header-color);
  text-align: center;
  padding: 1.2rem;
  color: var(--title-color);
  margin-bottom: 2rem;
}
section {
  margin: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  justify-items: center;
}
section .robot {
  background-color: var(--robot-color);
  width: 18rem;
  padding: 1rem;
  border: 1px solid var(--robot-border);
  border-radius: 0.5rem;
  box-shadow: 4.5px 4.5px 3.6px rgba(0, 0, 0, 0.073),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.105),
    30.1px 30.1px 24.1px rgba(0, 0, 0, 0.137),
    100px 100px 80px rgba(0, 0, 0, 0.21);
}
section .robot .avatar img {
  width: 14rem;
  margin-bottom: 1rem;
}
section .robot .electric {
  width: 15rem;
  height: 4rem;
  background-image: url('./wave.png');
  background-repeat: no-repeat;
  background-size: contain;
}
section .robot:hover .electric {
  width: 15rem;
  height: 4rem;
  background-image: url('./wave-on.png');
  background-repeat: no-repeat;
  background-size: contain;
}
section .robot .description {
  color: var(--writing-color);
}
section .robot .description p {
  margin: 0.2rem 0rem;
  font-size: 0.9rem;
  /* white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; */
}
section .robot .description p .full-name {
  color: #dd92cd;
}
section .robot .description p .email {
  color: #e4c778;
}
section .robot .description p .user {
  color: #5ce3f5;
}
section .robot .description p .country {
  color: #8b3df1;
}
section .robot .description p .city {
  color: #fab3fa;
}
section .robot .description p .job {
  color: #5271fd;
}
section .robot .action {
  padding-top: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}
section .robot .chat {
  color: #5ce3f5;
  text-decoration: none;
  font-size: 0.9rem;
}
section .robot .friend {
  color: #fab3fa;
  text-decoration: none;
  font-size: 0.9rem;
}
