:root {
  --dark-color: #1e2020;
  --accent-light-color: #414242;
  --click-light-color: rgb(107, 111, 112);
  --writing-color: white;
  --writing-dark-color: rgb(206, 203, 203);
  --link-color: rgb(88, 233, 214);
  --width: 350px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  background-image: url('bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

header {
  background-color: rgba(73, 70, 70, 0.8);
  text-align: center;
  padding: 1.2rem;
  color: white;
  margin-bottom: 2rem;
}
section .robot {
  background-color: #1e2020;
  width: max-content;
  padding: 1rem;
  border: 1px solid rgba(67, 68, 68, 0.725);
  border-radius: 0.5rem;
  box-shadow: 4.5px 4.5px 3.6px rgba(0, 0, 0, 0.073),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.105),
    30.1px 30.1px 24.1px rgba(0, 0, 0, 0.137),
    100px 100px 80px rgba(0, 0, 0, 0.21);
}
section .robot .avatar img {
  width: 15rem;
  margin-bottom: 1rem;
}
section .robot .description {
  color: rgb(136, 133, 133);
}
section .robot .description p {
  margin: 0.2rem 0rem;
}
section .robot .description p .full-name {
  color: #dd92cd;
  font-weight: bold;
}
section .robot .description p .email {
  color: #fddb7b;
}
