:root {
  --dark-color: #1e2020;
  --accent-light-color: #414242;
  --click-light-color: rgb(107, 111, 112);
  --writing-color: white;
  --writing-dark-color: rgb(206, 203, 203);
  --link-color: rgb(88, 233, 214);
  --width: 350px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  background-image: url('bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

header {
  background-color: rgba(255, 255, 255, 0.2);
  text-align: center;
  padding: 1.2rem;
  color: white;
}
