:root {
  --primary-color: #116a7b;
  --light-color: #c2dedc;
  --accent-light-color: #ece5c7;
  --accent-dark-color: #cdc2ae;
  --writing-color: white;
  --width: 350px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

p {
  color: var(--primary-color);
  font-weight: bold;
}

#main {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#main .info {
  background-color: var(--light-color);
  padding: 2rem;
  display: flex;
  justify-content: center;
  width: var(--width);
}

#main .calculator-body {
  background-color: var(--accent-light-color);
  display: flex;
  justify-content: center;
  padding: 2rem;
  width: var(--width);
}

#main .grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 0.5rem;
  font-weight: bold;
  color: var(--writing-color);
}
#main .grid-container input {
  width: 13rem;
  height: 3rem;
  outline: none;
  text-align: center;
  border: none;
  color: var(--primary-color);
  font-weight: bold;
}
#main .grid-container .grid-delete {
  background-color: var(--accent-dark-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
#main .grid-container .grid-result {
  grid-column: span 3;
}
#main .grid-container .grid-num {
  background-color: var(--accent-dark-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
#main .grid-container .grid-operand {
  background-color: var(--accent-dark-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
#main .grid-container .grid-equal {
  background-color: var(--accent-dark-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
#main .grid-container .grid-dot {
  background-color: var(--accent-dark-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
#main .grid-container div:hover {
  color: var(--light-color);
  cursor: pointer;
}
